<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getmeashop.partner">

    <!-- To auto-complete the email text field in the login form with the User's emails -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCOUNT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <permission
        android:name="com.getmeashop.partner.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.getmeashop.partner.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".UpdateUser"
            android:label="@string/title_activity_update_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="DashBoard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserChequeList"
            android:label="Payment"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EditPayment"
            android:label="Payment Details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getmeashop.partner.UserChequeList" />
        </activity>
        <activity
            android:name=".EditInfo"
            android:label="Edit Portal info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.UpdateChekerService"
            android:exported="false" />

        <activity
            android:name=".UpdateApp"
            android:label="@string/title_activity_update_app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="084bb3d753935b303dc4df2c5f182113717f9e57" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.getmeashop.partner" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMIntentService"
            android:enabled="true" />

        <activity android:name=".ThemeView"></activity>
    </application>

</manifest>